{% extends "layout.html" %}
{% block content %}
    <div class="form">
                    
        <form id="form1" name="form1" class="text-form">
            <p class="texts">Welcome</p>                    
            <button id="check62" name="check62" type="button" onclick="location.href='/check62';">เช็คชื่อนัดหมาย</button><br><br>
            <button id="against" name="against" type="button" onclick="location.href='/against_the_rule';">เช็คชื่อแต่งกายผิดระเบียบ</button>                    
        </form>
    </div>
{% endblock content %}